@media (max-width:780px){
    .container{
        width: 95%;

        .nav{
            display: block;
            text-align: center;
            .logo{
                font-size: .7rem;
            }
        }
    }
    .user-details{
        display: block;

        .user-info{
            display: block;
            margin: 3rem 0;
            width: 100%;
            
        .git-info{
            display: block;

            .repos,.username,.following{
                width: 70%;
                margin: 1.5rem auto;
            }
        }
        }


    }
}

    
