@media (max-width:1024px){
    .nav{
        display: block !important;
        text-align: center;
    }
}

@media (max-width:780px){
    .container{
        width: 95% !important;

        .nav{
            display: block !important;
            text-align: center;
            .logo{
                font-size: .7rem;
            }
        }
    }
    .user-details{
        display: block !important;

        .user-info{
            display: block !important;
            margin: 3rem 0;
            width: 100%;
            
        .git-info{
            display: block !important;

            .repos,.username,.following{
                width: 70%;
                margin: 1.5rem auto;
            }
        }
        }


    }
}

    
