*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Lato",sans-serif;
    text-decoration: none;
    list-style: none;
    line-height: 1.2;
}

p{
    font-size: 1.2rem;
}
body{
    background: #ffffff9b
}
.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5{
    font-family: "Rubik",sans-serif;
}